{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-12">
    <h1>Bienvenue sur la plateforme de Location</h1>
    <p>Découvrez nos produits ci-dessous :</p>
  </div>
</div>
<div class="row">
  {% for pid, p in products.items() %}
    <div class="col-md-4 mb-3">
      <div class="card">
        <img src="{{ p.image }}" class="card-img-top" alt="Image du produit">
        <div class="card-body">
          <h5 class="card-title">{{ p.name }}</h5>
          <p class="card-text">Prix/jour: {{ p.daily_price }} €</p>
          <p>Note: 
            {% for i in range(5) %}
              {% if i < p.avg_rating_product|round(0,'floor') %}
                <span class="star">★</span>
              {% else %}
                <span class="star">☆</span>
              {% endif %}
            {% endfor %}
          </p>
          <a href="{{ url_for('product_detail', product_id=pid) }}" class="btn btn-primary">Voir le produit</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
